.third-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.third-section .joystick-img{
  max-width: 620px;
  width: 100%;
}
.third-section .text-area{
  max-width: 560px;
  width: 100%;
}

.third-section .text-area .title{
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 16px;
  width: 560px;

}
.third-section .text-area p{
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.third-section .text-area p:not(:last-child){
  margin-bottom: 20px;
}

@media (max-width: 1280px){
  .third-section .text-area .title{
    width: 480px;
    font-size: 48px;
    line-height: 48px;
  }
  .third-section .text-area p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .third-section .text-area p:not(:last-child){
    margin-bottom: 16px;
  }
}
@media (max-width: 1100px){
  .third-section .text-area{
    max-width: 405px;
  }
  .third-section .text-area .title{
    width: 405px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: 950px){
  .third-section .text-area{
    max-width: 350px;
  }
  .third-section .text-area .title{
    width: 350px;
    font-size: 36px;
    line-height: 36px;
  }
  .third-section .text-area p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .third-section .text-area p:not(:last-child){
    margin-bottom: 12px;
  }
}


@media (max-width: 831px){
  .third-section{
    flex-direction: column;
  }
  .third-section .joystick-img{
    max-width: 400px;
  }
}

@media (max-width: 350px){
  .third-section .text-area{
    max-width: 350px;
  }
  .third-section .text-area .title{
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }

}